<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <h1>Cycling Quotes</h1>
    <form action="/quotes" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="quote" name="quote" />
      <button type="submit">Submit</button>
    </form>
    <button id="cipofy"> Cipofy </button>
    <p>Replaces all quotes by Lance with Mario's famous quote.</p>
    <button id="delete"> Delete </button>
    <p>Deletes all quotes by Lance.</p>
    <ul class="quotes">
      <% for(var i=0; i<quotes.length; i++) {%>
        <li class="quote" id="<%= quotes[i]._id %>">
          <h2><%= quotes[i].name %></h2>
          <h3><%= quotes[i].quote %></h3>
        </li>
        <!-- <button class="delete" id="<%= quotes[i]._id %>"> Delete </button> -->
      <% } %>
    </ul>
    <script src="main.js"></script>
  </body>
</html>
